



.nav-links{
    /* margin-top: 50px; */
    display: flex;
    padding: 0 3.5rem;
    justify-content: space-around;
    /* background-color: rgb(5, 5, 5); */
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #525252;
    position: relative;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0,1); */
  }
  .nav-links li{
    padding-top: 13px;
    padding-bottom: 13px;
    list-style: none;
    color:black;
  }
  .nav-links li a{
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  .nav-links li a:hover{
    color: rgb(255, 0, 106);
  }
  .dropdown-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a{
    font-size: 14px;
    font-family: sans-serif;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover{
    color:  rgb(255, 94, 161);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    /* display: flex;
    flex-direction: column; */
  }
  .sn-link{
    display: flex;
    align-items: center;
    color:rgb(119, 119, 119);
    /* gap: 1rem; */
  }
  .sn-link :first-child {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color:rgb(78, 78, 78)
  
  }
  
    .sn-name{
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 600;
    }
    .sn-name:hover{
        color: rgb(255, 0, 106);
    }
        
    .menu-bar-top{
        /* float: right; */
        text-align:right;
        display: none;
        padding: 1rem 3.5rem;
        background-color: rgb(37, 37, 37);
        border-bottom: 1px solid #525252;
        font-family: 'Poppins';
        color: rgb(255, 255, 255);
        font-size: 16px;
        cursor: pointer;
        list-style: none;
  
    }
   
    @media  (max-width: 850px) {
        .menu-bar-top{
            display: block;
        }    
        .nav-links{
            display: none;
            /* display: flex; */
            padding: 0 3.5rem;
            justify-content: space-around;
            background-color: rgb(37, 37, 37);
           flex-direction: column;
        }
        .dropdown-content {
            transition: all ease-in-out;
            padding-top: 2rem;
            padding-bottom: 2rem;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
        .show-links{
            display: flex;
            padding: 0 3.5rem;
            justify-content: space-around;
            /* background-color: rgb(5, 5, 5); */
            background-color: rgb(37, 37, 37);
            position: relative;
          
        }
      }









